@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div class="row my-3 ml-1">
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-outline-success" })
</div>


    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


@section scripts
{
    <script>

        $(document).ready(function () {

            $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/customer/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"

                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class= 'btn btn-danger js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Do you want to Delete this Movie?", result => {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: () => { console.log("Success Delete Movie"); }
                        })
                    }
                });
            });
        });

    </script>
}